body {
    font-family: Verdana, sans-serif;
    color: white;
    background-color: rgb(64, 142, 198);
    font-size: 20px;
}

#title, #description {
    text-align: center;
}

#description {
    margin-bottom: 45px;
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 1px #1e2761;
}

#title {
    margin-top: 60px;
}
#survey-form {
    text-align: left;
    margin: 0 auto 50px auto;
    
}

input.checkbox {
    height: 20px;
    width: 20px;
}

#form-fieldset {
    background-color: rgba(30, 39, 97, 0.7);
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media (min-width: 500px) {
    #survey-form {
        max-width: 1000px;
    }

}

@media (max-width: 499px) {
    #survey-form {
        max-width: 370px;
    }
}

input, select {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: inherit;
    border-radius: 10px;
}

.form-field {
    width: 90%;
}

#submit, #text-area {
    margin-top: 25px;
    width: 90%;
}

#text-area {
    font-size: inherit;
}

#submit {
    display: block;
    color: white;
    background-color: rgba(122, 32, 72, 0.8);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
  margin-bottom: 5px;
}